.btn-continue-whatsapp:hover {
    color: rgb(255, 255, 255);
    background-color: #20c773
}

.error-red {
    color: red;
    font-size: 0.8rem;
    display: none;
}

.btn-continue-whatsapp {
    background-color: #01e675;
    color: #fff;
}

.nota_payment_avise {
    font-size: 12px;
}

.full-withd {
    width: 100%;
}

.to-center {
    text-align: center;
}

.payment-methods {
    margin-top: 0.5rem;
}

.title-your-order {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.qr-bancolombia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.download_qr {
    text-decoration: none;
    color: #fff;
    background-color: #01e675;
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 0.2rem;
}

.download_qr:hover {
    color: #fff;
    background-color: #20c773;
    border-radius: 15px;
}

.payment-method {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    flex-direction: column;
}

.ma-l-1 {
    margin-left: 1rem !important;
}

.btn-clipboard {
    margin-left: 0.5rem;
    font-size: .65em;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid;
    border-radius: 0.25rem;
}

.btn-clipboard:hover,
.btn-clipboard:focus {
    color: #fff;
    background-color: #0d6efd;
}

@media screen and (max-width: 768px) {
    .payment-method {
        flex-direction: column;
    }
    .qr_bancolombia {
        display: none;
    }
    .download_qr {
        margin-top: 0;
    }
}